BlobExample/bin
BlobExample/obj
BlobExample/.vs/

FileExampleRecursion/bin
FileExampleRecursion/obj
FileExampleRecursion/.vs/

QueueMessageCreator/bin
QueueMessageCreator/obj
QueueMessageCreator/.vs/

QueueMessageReader/bin
QueueMessageReader/obj
QueueMessageReader/.vs/

TableExample/bin
TableExample/obj
TableExample/.vs/